    header {
      text-align: center;
      background: url("http://media.istockphoto.com/illustrations/rainbow-burst-abstract-background-illustration-id502102504?k=6&m=502102504&s=170667a&w=0&h=t4VaJJnrJyiaTnV13gVVf0Evay-Mxiwfv24RHgFLSuQ=");
      background-size: cover;
      color: white;
    }
    .nav {
      color: white;
    }
    h1 {
      font-size: 90px;
      font-family: fantasy;
      color: black;
    }
    img {
      margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
      height: 60%;
    }
    ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    div{
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
        padding: 5px;
      }
      li {
        padding: 5px;
        display: block;
      }
    }
